.App {
  text-align: left;
}
body{
  background-color: rgb(22, 140, 148);
  height: 1300px;
}


#editor{
  position: absolute;
  top: 50px;
  left: 50%;
  transform: translate(-50%);
  background-color: rgb(225, 230, 235);
  width: 400px;
  height: 100px;
  
}



#preview{
  position: absolute;
  top: 250px;
  left: 50%;
  transform: translate(-50%);
  background-color:   rgb(225, 230, 235);
  width: 343px;
 
  border: solid black;
}





.name{

  background-color: #1cdae7;
  width:405px;
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translate(-50%);
  
  
  
}

#mark{

  background-color: #1cdae7;
  width: 343px;
  position: absolute;
  top: 211px;
  left: 50%;
  transform: translate(-50%);
  
}